/*body{font: 12px 微软雅黑,Helvetica,sans-serif;line-height: 1.5;color: #6C6C6C;}*/
.content {
    width: 960px;
    margin: 0 auto;
    padding-top: 10px;
    overflow: hidden;
}

.goods_info {
    overflow: hidden;
}

.pro_l {
    width: 550px;
    float: left;
}

.pro_img_list {
    float: left;
}

.goods_list {
    width: 52px;
    height: 420px;
    padding: 20px 25px;
    list-style: none;
}

.goods_list li {
    border: 1px solid white;
}

.list_edit {
    margin-top: 7px;
    height: 62px;
    cursor: pointer;
}

.list_edit img {
    border: 1px solid white;
}

.pro_img {
    position: relative;
    margin-left: 20px;
    width: 384px;
    float: left;
    /*background: url(../img/showImg1.jpg) no-repeat;*/
    /*background-size: width : 384px;*/
    height: 460px;
}

.border {
    border: 1px solid #ccc;
}

/*放大镜*/
.bigArea {
    width: 390px;
    height: 460px;
    position: absolute;
    overflow: hidden;
    top: 0px;
    z-index: 11;
}

.bigImg {
    width: 390px;
    height: 460px;
    position: absolute;
}

.smallArea {
    width: 183px;
    height: 218px;
    position: absolute;
    display: none;
    background: white;
    opacity: 0.5;
    border: 1px solid #eee;
    cursor: pointer;
}


/*品牌以及商品标题*/
.pro_r {
    width: 390px;
    padding-top: 20px;
    float: right;
}

.relative {
    font-size: 14px;
    font-weight: normal;
    position: relative;
    font-family: 微软雅黑, Helvetica, sans-serif;
}

.relative a {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    line-height: 1.5
}

.position_rel {
    position: relative;
}

.pro_price {
    padding: 10px 0 40px;
}

.c_gray_2 {
    color: #bbb;
    font: 12px 微软雅黑, Helvetica, sans-serif;
    line-height: 1.5;
}

.c_purple {
    color: #8E0C3A;
    font: 12px 微软雅黑, Helvetica, sans-serif;
    line-height: 1.5;
}

p {
    font: 12px 微软雅黑, Helvetica, sans-serif;
    line-height: 1.5;
}

.pro_btn {
    padding: 10px 0;
}

.buy, .bags {
    cursor: pointer;
}

.pro_con {
    margin: 15px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    height: 39px;
}


.g_r_num{
    position: relative;
    margin: 20px 0 0 55px;
    font-size: 12px;
    color: #626262;
    float: left;
}

.g_r_p_h{
    position: absolute;
    left: -55px;
    font-size: 12px;
}


.g_r_num_d1{
    position: relative;
    display: block;
    height: 20px;
    width: 108px;
    overflow: hidden;
    border: 1px solid #999;
    float: left;
}


.g_r_num_d1_l{
    /*border: 1px solid #999;*/
    border-right: 1px solid #999;
    float: left;
    display: block;
    width: 23px;
    height: 24px;
    background: #eee;
    text-align: center;
    font-size: 20px;
    line-height: 22px;
    cursor: pointer;
}

.g_r_num_d1_c{
    display: block;
    border: 0;
    height: 20px;
    width: 60px;
    float: left;
    text-align: center;
    outline: none;
}

.g_r_num_d1_r{
    /*border: 1px solid #ddd;*/
    border-left: 1px solid #999;
    float: left;
    display: block;
    width: 23px;
    height: 24px;
    background: #eee;
    text-align: center;
    font-size: 20px;
    line-height: 22px;
    cursor: pointer;
}

.g_r_num_d2{
    float: left;
    margin-left: 20px;
}