{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/shouwei.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css">
    <script src="{% static 'js/jquery-1.12.3.js' %}"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/headerbar.js' %}"></script>
    <script src="{% static 'js/login.js' %}"></script>
</head>
<body>

<div class="header">
    <div class="headerbar">
        <div class="hb_content">
            <div class="hb_con_left">
                {% if phone %}
                    <a href="#" class="register">{{ phone }}</a>
                    <a href="{% url 'mx:logout' %}" class="login">退出</a>
                    <a href="">订单查询</a>
                {% else %}
                    <a href="{% url 'mx:register' %}" class="register">注册</a>
                    <a href="{% url 'mx:login' %}" class="login">登录</a>
                {% endif %}
            </div>
            <div class="hb_con_right">
                <p>客服热线:4000-250-630</p>
                <div class="follow">
                    <img src="{% static 'img/star.png' %}">
                    <span>关注我们</span>
                    <div class="share">
                        <a href="" class="sina">
                            <img src="{% static 'img/fou_sina.gif' %}">
                            <span>新浪微博</span>
                        </a>
                        <a href="" class="weixin">
                            <img src="{% static 'img/fou_wechat.gif' %}">
                            <span>美西微信</span>
                        </a>
                    </div>
                </div>
                <div class="bag">
                    <a href="cart.html">
                        <div class="bag_n">
                            <img src="{% static 'img/shopping.png' %}" class="bag_icon">
                            <span>购物袋（<t style="color: #8E0C3A;">0</t>）</span>
                            <img class="arrow" src="{% static 'img/xiabiao.png' %}">
                        </div>
                    </a>


                    <div class="cart">
                        <div class="cart_n">
                            您的购物车是空的
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header_top">
        <div class="meiciapp">
            <a href=""><img src="{% static 'img/ewm_indexTop.png' %}"></a>
            <span><img src="{% static 'img/ewm_txt.png' %}"></span>
        </div>
        <div class="logo">
            <img src="{% static 'img/logo_new.png' %}">
        </div>
        <div class="search">
            <input type="text" placeholder="请输入您的关键词" maxlength="20">
            <img src="{% static 'img/search.png' %}">
        </div>
    </div>
</div>
<div class="content">
    <div class="content_box">
        <div class="absolute">
            <img src="{% static 'img/register_bg.png' %}">
        </div>
        <p class="voucher">手机验证完成即送<b>100</b>元代金券</p>
        <form class="registerform" action="{% url 'mx:login' %}" method="post" id="register-view">
            {% csrf_token %}
            <div class="register_box" id="register_box">
                <div class="input_zone">
                    <div class="input_l"><i>手&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机：</i></div>
                    <div class="input_r">
                        <input type="text" class="user_name" id="phone" name="phone" value=""
                               style="color: rgb(204, 204, 204);font-size: 12px;">
                    </div>
                </div>
                <div class="input_zone">
                    <div class="input_l"><i>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码：</i></div>
                    <div class="input_r">
                        <input type="password" class="psw" name="password">
                    </div>
                </div>
                <div class="meici_tag">
                    <input class="input_login" type="checkbox" value="1">
                    <span style="color: #6C6C6C;display: inline-block;">下次自动登录</span>
                    <span class="float_r">忘记密码？</span>
                </div>
                <div class="meici_tag">
                    <button type="button" class="btn_register" id="subButton"> 登陆 </button>
                    <br>
                    <div style="margin-top: 5px;text-align: right;">

                        <a href="{% url 'mx:register' %}" style="color: #8E0C3A;">立即注册</a>
                    </div>
                    <p class="regInfo_msg"></p>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="footer">
    <div class="sub_nav">
        <ul class="clearfix">
            <li><a href="{% url 'mx:index' %}">首页</a></li>
            <li><a href="">关于美西</a></li>
            <li><a href="">媒体报道</a></li>
            <li><a href="">正品保障</a></li>
            <li><a href="">业务合作</a></li>
            <li><a href="">隐私声明</a></li>
            <li><a href="">加入美西</a></li>
            <li><a href="">网站地图</a></li>
            <li><a href="">联系我们</a></li>
        </ul>
    </div>
    <div class="copyright"></div>
    <div class="safe"></div>
</div>

</body>
</html>
